@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="appTitle">
        <h1 id="appTitle">Assignment #6 - Devon Connelly</h1>
        <p class="lead">ASP.NET application able to upload media files and manage actors, TV series, and episodes.</p>
        <p><a href="https://dconnelly-wa-web524-a6-evc9dkbqfahpd9fs.eastus2-01.azurewebsites.net" class="btn btn-primary">Assignment 6 on Azure</a></p>
    </section>

    <div class="row mt-5">
        <section class="col-md-6" aria-labelledby="whatILearned">
            <h2 id="whatILearned">I learned ...</h2>
            <p>How to handle adding and displaying non text media types in an asp.net environment, including managing file streams and storing its contents in a database. I also learned how to add support for rich text using CKEditor to add multi line text inputs.</p>
        </section>
        <section class="col-md-6" aria-labelledby="whatIStruggledWith">
            <h2 id="whatIStruggledWith">I struggled with ...</h2>
            <p>How to properly add these non text media types, specifically the content upload functionality, particularly with reading the file stream and converting it to a byte array ensuring the file was correctly processed and stored. I also had some difficulty with handling all the new data and models as at one point I was setback due to an error in naming attributes causing there to be issues with the mapping to the different view models. </p>
        </section>
    </div>
</main>